<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.YBSaleMapper">
    <insert id="addNewSaleInput" parameterType="org.sang.bean.YBInput" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO yb_input set
            group_id = #{groupId},
            saler_name = #{salerName},
            visit_name = #{visitName},
            whole_sale = #{wholeSale},
            dominant_position = #{dominantPosition},
            display = #{display},
            other = #{other},
            visit_by_route =#{visitByRoute},
            visit_by_phone = #{visitByPhone},
            order_count = #{orderCount},
            water_sale_count =#{waterSaleCount},
            water333 = #{water333},
            water555 = #{water555},
            water1500 = #{water1500},
            water4500 = #{water4500},
            drink_sale_count = #{drinkSaleCount},
            huojia = #{huojia},
            mishui = #{mishui},
            other_drink = #{otherDrink},
            created_at = #{createdAt}
    </insert>

    <select id="querySaleGroup" resultMap="BaseResultMap">
         SELECT * FROM yb_sale_group
    </select>

    <resultMap id="BaseResultMap" type="org.sang.bean.YBGroup">
        <id column="id" property="id"/>
        <result column="id" property="id"/>
        <result column="group_name" property="groupName"/>
    </resultMap>

    <insert id="addSale" parameterType="org.sang.bean.YBSaleUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO yb_sale_user set
            username = #{username},
            password = #{password},
            phone_number = #{phoneNumber},
            group_id = #{groupId},
            role = #{role}
    </insert>

    <select id="getSaleUser" resultMap="getSaleUserResultMap">
        SELECT username, password, phone_number, group_id, role
         FROM yb_sale_user limit #{start},#{count}
    </select>
    <resultMap id="getSaleUserResultMap" type="org.sang.bean.YBSaleUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="group_id" property="groupId"/>
        <result column="role" property="role"/>
    </resultMap>


    <select id="getUserCount" resultType="int">
        SELECT count(*) FROM yb_sale_user
    </select>
</mapper>